<main>
  <div class="new_menu">
    <%= form_with model: @menu, url: menu_create_path, local: true do |f| %>
      <h1>新規商品登録</h1>
      <label>材料名</label><br>
      <%= f.text_field :name %><br>
      <label>価格</label><br>
      <%= f.number_field :price %><br>
      <label>画像</label><br>
      <%= f.file_field :image %><br>
      <label>説明文(300文字以内)</label><br>
      <%= f.text_area(:description, size: "50x13") %><br>
      <br>
      使用している材料にチェックを入れる<br>
      <% @ingredients.each do |ingredient| %>
      <label><%= ingredient.name %></label>
      <input type="checkbox" name="menu[ingredient][]" value="<%= ingredient.id %>" /><br>
      <% end %>
      <br>
      <span class="menu_create_Notes">※全ての内容を入力してから商品登録を実施してください</span><br>
      <%= f.submit "商品登録" %> 
    <% end %>
  </div>
</main>