<main>
    <div class="edit_user">
        <span class="edit_user_title"><h1>ユーザー情報の更新</h1></span>
        <%= form_with model: @user, url: user_update_path, scope: :user, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label "お名前" %><span class="required">※</span><br>
        <%= f.text_field :name %><br>
        <%= f.label "カナ" %><span class="required">※</span><br>
        <%= f.text_field :name_kana %><br>
        <%= f.label "メールアドレス" %><span class="required">※</span><br>
        <%= f.email_field :email %><br>
        <%= f.label "パスワード" %><br>
        <%= f.password_field :password %><br>
        <%= f.label "再度パスワード" %><br>
        <%= f.password_field :password_confirmation %><br>
        <%= f.label "郵便番号(ハイフン不要)" %><br>
        <%= f.number_field :post_code %><br>
        <%= f.label "住所" %><br>
        <%= f.text_field :address %><br>
        <%= f.label "電話番号(ハイフン不要)" %><span class="required">※</span><br>
        <%= f.number_field :tel %><br>
        <span class="required">※</span>は必須入力です<br>
        <br>
        <%= f.submit "ユーザー情報更新" %>
        <% end %>
    </div>
</main>