<main>
  <div class="order_new">
    <h1>注文商品一覧</h1>
    <div class="order_menu">
      <% @cart.each do |cart| %>
        <%= form_with model: @cart, url: cart_out_path, method: :delete do |f| %>
          <%= cart.menu.name %> 
          <%= cart.menu.price %>円
          <%= f.hidden_field :cart_id, value: cart.id %>
        <% end %>  
      <% end %>
    </div> 
    <br>
    <label>小計<%= @total_price %>円</label><br>
    <br>
    <span class="receive">お弁当の受け取り方法</span><br>
    <%= form_with url: order_check_path, local: true  do |f| %>
        <%= f.radio_button :receive, :shop, checked: true, id: :shop_btn %>
        <%= f.label :receive, "店舗で受け取る" %><br>
        <%= f.radio_button :receive, :delivery, id: :delivery_btn %>
        <%= f.label :receive, "自宅まで配達を希望　料金+300円" %><br>
        <%= f.label "メールアドレス" %><span class="required">※</span><br>
        <%= f.text_field :email, value: @user.email, required: true, class: "order_mail" %><br>
        <%= f.label "電話番号(ハイフン不要)" %><span class="required">※</span><br>
        <%= f.number_field :tel, value: @user.tel, required: true  %><br>
        <span class="required">※</span>は必須入力です<br>
        <br>
        <span class="receive_delivery">※自宅まで配達を希望</span>を選択された場合は、下記についてもご入力ください<br>
        <span class="receive_delivery">※お届け先によっては、配達をお断りする場合がございますことをご了承ください</span><br>
        <%= f.label "郵便番号(ハイフン不要)" %><br>
        <%= f.number_field :post_code, value: @user.post_code, id: :delivery_post_code, class: "order_post_code" %><br>
        <%= f.label "お届け先" %><br>
        <%= f.text_field :address, value: @user.address, id: :delivery_address, class: "order_address" %><br>
        <br>
        <%= f.submit "確認画面へ" %>
        <!-- 自宅まで配達希望時のお届け先入力制御 -->
        <script>
          document.getElementById("delivery_btn").onclick = (function() {
          document.getElementById("delivery_post_code").required = true;
          document.getElementById("delivery_address").required = true;
          });
          document.getElementById("shop_btn").onclick = (function() {
          document.getElementById("delivery_post_code").required = false;
          document.getElementById("delivery_address").required = false;
          });          
        </script>
        <!-- 自宅まで配達希望時のお届け先入力制御 -->
    <% end %>
  </div>
</main>